.spacer {
  flex: 1;
}

.room {
  width: 1000px;
  position: relative;
  margin: 24px auto;
  border: 1px solid rgba(black, 0.12);
  height: 400px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    left: 0;
    background: #000;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
  }
  &.dark:after {
    opacity: 0.8;
  }
  &__light {
    position: absolute;
    z-index: 20;
    cursor: pointer;
    top: 0;
    left: 50%;
    width: 50px;
    transform: translateX(-50%);
  }
  &__floor {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: #6a4564;
  }
  &__display {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 300px;
    height: 200px;
    background: #000;
    overflow: hidden;
    padding: 16px;
  }
}

.user {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 50px;
}

.message {
  white-space: nowrap;
}
